.view-hidden {
  display: none;
}

.view-show {
  display: inline-block;
}

.selected-item {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.close-icon {
  float: right;
}

.suggest-input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.suggest-input input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

.suggest-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
}

.suggest-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.suggest-items div:hover {
  background-color: #e9e9e9;
}

.suggest-selected-item {
  background-color: #5f9ea099 !important;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.pos--fixes {
  position: absolute;
  padding: 10px;
}

.pos--left {
  left: 270px;
}

.app-icon {
  border-width: 0px !important;
  background-color: #ffffff;
}

.app-suggest {
  position: absolute;
  top: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
}
.app-form {
  padding: 15px;
}